<mat-toolbar color="primary">
    <div>
        <a mat-button [routerLink]="'/home'"> Movies </a>
        <a mat-button [routerLink]="'/movies'"> List of Movies </a>
        <a mat-button [routerLink]="'/movieentry'">Movie Entry</a>
      </div>
</mat-toolbar>
<mat-card>
    <h2>Only The Admin can access the application</h2>
    <h3>Contact the below details for futher quries on Movie Registration</h3><br>
    <h2>Contact Details</h2>
    <h3>Email : SeruManasa@gmail.com</h3>
    <h3>Contact No : 4964566546</h3><br><br><br><br>
    <h2>Thank you for visiting the Application</h2>

</mat-card>
